.idea
*.iml
Day45-top100movies/movie.txt
NATO-alphabet-start/__MACOSX/
NATO-phonetic-Alphabet-Exercise-Errors-Exceptions/poetry.lock
NATO-phonetic-Alphabet-Exercise-Errors-Exceptions/pyproject.toml
Password-Manager-Err-Exception/data.json
day-25/new_student.csv
day-25/squirrel_color.csv
day26/pandas.py
day26/test.py
day34-trivia-api/__pycache__/
day39-cheap-flight-finder/__pycache__/
day40-flight-deal/__pycache__/
flash-card-project/data/words_to_learn.csv
hirstpainitng/image.jpg
hirstpainitng/main.py
pong_game/__pycache__/
pw-manager/save.txt
snake_game/__pycache__/
turtle-crossing-game/__pycache__/
us-states-game-start/__MACOSX/